<form id="search-form" (ngSubmit)="search()">
    <mat-form-field class="w-full" appearance="outline">
        <button mat-icon-button matPrefix>
            <mat-icon class="text-alice-blue-dark" (click)="search()">search</mat-icon>
        </button>
        <input placeholder="Search company or ticker"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        [style.color]="'#FFFFFF'">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
        @for (ticker of bestMatches; track $index) {
            <mat-option [value]="ticker['1. symbol']" (click)="setCurrentTicker(ticker)">
                <span>{{ ticker['1. symbol'] }}</span>
            </mat-option>
        }
    </mat-autocomplete>
</form>